@import "../../common/style/variables.scss";
@import "../../common/style/mixins.scss";

.input {
  color: $text-color;
  line-height: $line-height;
  border-radius: $border-radius;
  padding: 0 10px;
  outline: none;
  border: 1px solid $border-color;

  &:focus {
    box-shadow: 0 0 0 $btn-shadow-spread #a8b8d9;
  }

  &-primary {
    border-color: $primary-color;
    
    &:focus {
      box-shadow: 0 0 0 $btn-shadow-spread lighten($primary-color, 30%);
    }
  }
  
  &-danger {
    border-color: $danger-color;
    
    &:focus {
      box-shadow: 0 0 0 $btn-shadow-spread lighten($danger-color, 30%);
    }
  }

  &-warning {
    border-color: $warning-color;
    
    &:focus {
      box-shadow: 0 0 0 $btn-shadow-spread lighten($warning-color, 30%);
    }
  }
  
  &-success {
    border-color: $success-color;
    
    &:focus {
      box-shadow: 0 0 0 $btn-shadow-spread lighten($success-color, 30%);
    }
  }

  &-sm {
    line-height: $line-height-sm;
  }

  &-lg {
    line-height: $line-height-lg;
  }

  &-fit {
    display: block;
    width: 100%;
  }

  &-extended {
    border-radius: 20px;
  }

  &-rect {
    border-radius: 0;
  }
}