@import "../../common/style/variables.scss";
@import "../../common/style/mixins.scss";

@mixin colorSet($set, $diffSet) {
  @if map-get($set, 'color') != map-get($diffSet, 'color') {
    color: map-get($set, 'color');
  }

  @if map-get($set, 'background-color') != map-get($diffSet, 'background-color') {
    background-color: map-get($set, 'background-color');
  }

  @if map-get($set, 'border-color') != map-get($diffSet, 'border-color') {
    border-color: map-get($set, 'border-color');
  }

  @if map-get($set, 'border-width') != map-get($diffSet, 'border-width') {
    border-width: map-get($set, 'border-width');
  }

  @if map-get($set, 'shadow') != map-get($diffSet, 'shadow') {
    box-shadow: map-get($set, 'shadow');
  }
}


.btn {
  @include flex-inline();

  background-color: map-get($btn-default, 'background-color');
  color: map-get($btn-default, 'color');

  cursor: pointer;
  outline: none;
  padding: 0px 10px;
  border-radius: $border-radius;
  border-width: map-get($btn-default, 'border-width');
  border-color: map-get($btn-default, 'border-color');
  box-shadow: map-get($btn-default, 'shadow');

  font-weight: 500;

  height: $line-height;
  line-height: $line-height;

  transition: all 0.1s ease-out 0s;

  &:hover {
    @include colorSet($btn-default-hover, $btn-default);
  }

  &:focus {
    @include colorSet($btn-default-focus, $btn-default);
  }

  &:active {
    @include colorSet($btn-default-active, $btn-default);
  }

  &[disabled] {
    opacity: .4;
    cursor: default;

    &:hover {
      background-color: map-get($btn-default, 'background-color');
    }
  }

  
  &.btn-primary {
    color: map-get($btn-primary, 'color');
    background-color: map-get($btn-primary, 'background-color');
    border-width: map-get($btn-primary, 'border-width');
    border-color: map-get($btn-primary, 'border-color');
    box-shadow: map-get($btn-primary, 'shadow');

    &:hover, 
    &[disabled] {
      @include colorSet($btn-primary-hover, $btn-primary);
    }

    &:focus {
      @include colorSet($btn-primary-focus, $btn-primary);
    }
    
    &:active {
      @include colorSet($btn-primary-active, $btn-primary);
    }
  }

  &.btn-warning {
    color: map-get($btn-warning, 'color');
    background-color: map-get($btn-warning, 'background-color');
    border-width: map-get($btn-warning, 'border-width');
    border-color: map-get($btn-warning, 'border-color');
    box-shadow: map-get($btn-warning, 'shadow');

    &:hover, 
    &[disabled] {
      @include colorSet($btn-warning-hover, $btn-warning);
    }

    &:focus {
      @include colorSet($btn-warning-focus, $btn-warning);
    }
    
    &:active {
      @include colorSet($btn-warning-active, $btn-warning);
    }
  }
  
  &.btn-danger {
    color: map-get($btn-danger, 'color');
    background-color: map-get($btn-danger, 'background-color');
    border-width: map-get($btn-danger, 'border-width');
    border-color: map-get($btn-danger, 'border-color');
    box-shadow: map-get($btn-danger, 'shadow');

    &:hover, 
    &[disabled] {
      @include colorSet($btn-danger-hover, $btn-danger);
    }

    &:focus {
      @include colorSet($btn-danger-focus, $btn-danger);
    }
    
    &:active {
      @include colorSet($btn-danger-active, $btn-danger);
    }
  }
  
  &.btn-success {
    color: map-get($btn-success, 'color');
    background-color: map-get($btn-success, 'background-color');
    border-width: map-get($btn-success, 'border-width');
    border-color: map-get($btn-success, 'border-color');
    box-shadow: map-get($btn-success, 'shadow');

    &:hover, 
    &[disabled] {
      @include colorSet($btn-success-hover, $btn-success);
    }

    &:focus {
      @include colorSet($btn-success-focus, $btn-success);
    }
    
    &:active {
      @include colorSet($btn-success-active, $btn-success);
    }
  }

  &.btn-outlined {
    background: none;
    border: 1px solid map-get($btn-default, 'color');

    &:hover {
      color: map-get($btn-default, 'color');
      background-color: map-get($btn-default, 'background-color');
    }

    &.btn-primary {
      border: 1px solid map-get($btn-primary, 'background-color');
      color: map-get($btn-primary, 'background-color');

      &:hover {
        color: map-get($btn-primary, 'color');
        background-color: map-get($btn-primary, 'background-color');
      }
    }

    &.btn-warning {
      border: 1px solid map-get($btn-warning, 'background-color');
      color: map-get($btn-warning, 'background-color');

      &:hover {
        color: map-get($btn-warning, 'color');
        background-color: map-get($btn-warning, 'background-color');
      }
    }

    &.btn-danger {
      border: 1px solid map-get($btn-danger, 'background-color');
      color: map-get($btn-danger, 'background-color');
    
      &:hover {
        color: map-get($btn-danger, 'color');
        background-color: map-get($btn-danger, 'background-color');
      }
    }

    &.btn-success {
      border: 1px solid map-get($btn-success, 'background-color');
      color: map-get($btn-success, 'background-color');
    
      &:hover {
        color: map-get($btn-success, 'color');
        background-color: map-get($btn-success, 'background-color');
      }
    }
  }

  &.btn-minimal {
    background: none;

    &:hover {
      background: #eee;
    }

    &.btn-warning,
    &.btn-primary,
    &.btn-danger,
    &.btn-success {
      &:hover {
        background: #eee;
      }
    }

    &.btn-warning {
      color: map-get($btn-warning, 'background-color');
    }

    &.btn-primary {
      color: map-get($btn-primary, 'background-color');
    }

    &.btn-danger {
      color: map-get($btn-danger, 'background-color');
    }

    &.btn-success {
      color: map-get($btn-success, 'background-color');
    }
  }

  &.sm {
    height: $line-height-sm;
    line-height: $line-height-sm;
  }

  &.lg {
    height: $line-height-lg;
    line-height: $line-height-lg;
  }

  &-extended {
    border-radius: 20px;
    padding: 0 16px;
  }

  &-circle {
    border-radius: 50%;
    width: $line-height;
    height: $line-height;
  }

  &-rect {
    border-radius: 0;
  }

  &-fit {
    display: flex;
    width: 100%;
  }
}