$eyzy-prefix: '';

$primary-color: #0052cc;
$secondary-color: #f5f6f8;
$warning-color: #f9a700;
$danger-color: #de3207;
$success-color: #2ecc40;

// TODO: not good. Save color for variant 
$disabled-bg: rgba(8, 31, 70, 0.04);
$disabled-color: #9fa5af;

$btn-border-width: 0;
$btn-border-color: red;

$btn-default-bg: $secondary-color;
$btn-default-bg-hover: darken($secondary-color, 5%);
$btn-default-focused-box-shadow: #7db5ff;
$btn-default-color: rgb(80, 95, 121);

$btn-primary-bg: $primary-color;
$btn-primary-bg-hover: darken($primary-color, 5%);
$btn-primary-focused-box-shadow: lighten($primary-color, 30%);
$btn-primary-color: #fff;

$btn-warning-bg: $warning-color;
$btn-warning-bg-hover: darken($warning-color, 5%);
$btn-warning-focused-box-shadow: lighten($warning-color, 30%);
$btn-warning-color: #1b2c4a;

$btn-danger-bg: $danger-color;
$btn-danger-bg-hover: darken($danger-color, 5%);
$btn-danger-focused-box-shadow: lighten($danger-color, 30%);
$btn-danger-color: #fff;

$btn-success-bg: $success-color;
$btn-success-bg-hover: darken($success-color, 5%);
$btn-success-focused-box-shadow: lighten($success-color, 30%);
$btn-success-color: #fff;
