$eyzy-prefix: '';

$primary-color: #0052cc;
$secondary-color: #f5f6f8;

$btn-border-width: 0;
$btn-border-color: red;

$btn-default-bg: $secondary-color;
$btn-default-bg-hover: darken($secondary-color, 5%);
$btn-default-focused-box-shadow: lighten($secondary-color, 5%);
$btn-default-color: rgb(80, 95, 121);

$btn-primary-bg: $primary-color;
$btn-primary-bg-hover: darken($primary-color, 5%);
$btn-primary-focused-box-shadow: lighten($primary-color, 30%);
$btn-primary-color: #fff;

