$eyzy-prefix: '';

$btn-border-width: 0;
$btn-border-color: red;

$btn-default-bg: rgba(9, 30, 66, 0.04);
$btn-default-bg-hovered: rgba(9, 30, 66, 0.08);
$btn-default-bg-focused: rgba(9, 30, 66, 0.04);
$btn-default-bg-active: rgba(9, 30, 66, 0.20);

$btn-default-color: rgb(80, 95, 121);

$default-color: blue;
$primary-color: red;