@import "../../../common/style/variables.scss";
@import "../../../common/style/mixins.scss";

.eyzy-tabs {
  display: flex;
  flex-direction: column;

  &-wrap {
    display: flex;
  }

  &-header {
    border-bottom: 1px solid #eee;
    overflow: auto;

    &::-webkit-scrollbar {
      width: 0;
      height: 0;
    }

    &__item {
      cursor: pointer;
      padding: 10px;
      opacity: 0.7;
      position: relative;
      border-bottom: 2px solid transparent;
      white-space: nowrap;

      &:hover {
        opacity: 1;
      }

      &.active {
        border-bottom-color: $primary-color;
      }
    }
  }

  &-content {
    display: flex;
    flex-grow: 1;
    padding: 15px 10px;

    &__item {
      width: 100%;
      flex: 1 1 auto;
    }
  }
}