$btn-border-width: 0;
$btn-shadow-spread: 0.2em; 


$btn-default-color: $base-text-color;
$btn-default-background-color: $base-color;
$btn-default-background-color-hover: darken($btn-default-background-color, 5.4);
$btn-default-background-color-active: darken($btn-default-background-color, 8.5);

$btn-primary-color: #fff;
$btn-primary-background-color: $primary-color;
$btn-primary-background-color-hover: darken($btn-primary-background-color, 5.4);
$btn-primary-background-color-active: darken($btn-primary-background-color, 8.5);

$btn-warning-color: #fff;
$btn-warning-background-color: $warning-color;
$btn-warning-background-color-hover: darken($btn-warning-background-color, 3.4);
$btn-warning-background-color-active: darken($btn-warning-background-color, 6.5);

$btn-danger-color: #fff;
$btn-danger-background-color: $danger-color;
$btn-danger-background-color-hover: darken($btn-danger-background-color, 5.4);
$btn-danger-background-color-active: darken($btn-danger-background-color, 8.5);

$btn-success-color: #fff;
$btn-success-background-color: $success-color;
$btn-success-background-color-hover: darken($btn-success-background-color, 5.4);
$btn-success-background-color-active: darken($btn-success-background-color, 8.5);

$btn-default: (
  "color": #55677d,
  "background-color": $secondary-color,
  "hover": (
    "background-color": #d8e0e8
  ),
  "border-color": #9fa5af,
  "border-width": $btn-border-width,
  "shadow": none
);

$btn-default-hover: (
  "color": map-get($btn-default, 'color'),
  "background-color": darken($secondary-color, 5%),
  "border-color": #9fa5af,
  "border-width": $btn-border-width,
  "shadow": none
);

$btn-default-active: (
  "color": darken($secondary-color, 35%),
  "background-color": $secondary-color,
  "border-color": #9fa5af,
  "border-width": $btn-border-width,
  "shadow": 0 0 0 $btn-shadow-spread #768cb8
);

$btn-default-focus: (
  "color": darken($secondary-color, 35%),
  "background-color": $secondary-color,
  "border-color": #9fa5af,
  "border-width": $btn-border-width,
  "shadow": 0 0 0 $btn-shadow-spread #a8b8d9
);


$btn-primary: (
  "color": #fff,
  "background-color": $primary-color,
  "border-color": #9fa5af,
  "border-width": $btn-border-width,
  "shadow": none
);

$btn-primary-hover: (
  "color": #fff,
  "background-color": darken($primary-color, 5%),
  "border-color": #9fa5af,
  "border-width": $btn-border-width,
  "shadow": none
);

$btn-primary-active: (
  "color": #fff,
  "background-color": $primary-color,
  "border-color": #9fa5af,
  "border-width": $btn-border-width,
  "shadow": 0 0 0 $btn-shadow-spread lighten($primary-color, 30%)
);

$btn-primary-focus: (
  "color": #fff,
  "background-color": $primary-color,
  "border-color": #9fa5af,
  "border-width": $btn-border-width,
  "shadow": 0 0 0 $btn-shadow-spread lighten($primary-color, 50%)
);



$btn-warning: (
  "color": #1b2c4a,
  "background-color": $warning-color,
  "border-color": #9fa5af,
  "border-width": $btn-border-width,
  "shadow": none
);

$btn-warning-hover: (
  "color": #1b2c4a,
  "background-color": darken($warning-color, 5%),
  "border-color": #9fa5af,
  "border-width": $btn-border-width,
  "shadow": none
);

$btn-warning-active: (
  "color": #1b2c4a,
  "background-color": $warning-color,
  "border-color": #9fa5af,
  "border-width": $btn-border-width,
  "shadow": 0 0 0 $btn-shadow-spread lighten($warning-color, 20%)
);

$btn-warning-focus: (
  "color": #1b2c4a,
  "background-color": $warning-color,
  "border-color": #9fa5af,
  "border-width": $btn-border-width,
  "shadow": 0 0 0 $btn-shadow-spread lighten($warning-color, 30%)
);



$btn-danger: (
  "color": #fff,
  "background-color": $danger-color,
  "border-color": #9fa5af,
  "border-width": $btn-border-width,
  "shadow": none
);

$btn-danger-hover: (
  "color": #fff,
  "background-color": darken($danger-color, 5%),
  "border-color": #9fa5af,
  "border-width": $btn-border-width,
  "shadow": none
);

$btn-danger-active: (
  "color": #fff,
  "background-color": $danger-color,
  "border-color": #9fa5af,
  "border-width": $btn-border-width,
  "shadow": 0 0 0 $btn-shadow-spread lighten($danger-color, 20%)
);

$btn-danger-focus: (
  "color": #fff,
  "background-color": $danger-color,
  "border-color": #9fa5af,
  "border-width": $btn-border-width,
  "shadow": 0 0 0 $btn-shadow-spread lighten($danger-color, 30%)
);



$btn-success: (
  "color": #fff,
  "background-color": $success-color,
  "border-color": #9fa5af,
  "border-width": $btn-border-width,
  "shadow": none
);


$btn-success-hover: (
  "color": #fff,
  "background-color": darken($success-color, 5%),
  "border-color": #9fa5af,
  "border-width": $btn-border-width,
  "shadow": none
);

$btn-success-active: (
  "color": #fff,
  "background-color": $success-color,
  "border-color": #9fa5af,
  "border-width": $btn-border-width,
  "shadow": 0 0 0 $btn-shadow-spread lighten($success-color, 20%)
);

$btn-success-focus: (
  "color": #fff,
  "background-color": $success-color,
  "border-color": #9fa5af,
  "border-width": $btn-border-width,
  "shadow": 0 0 0 $btn-shadow-spread lighten($success-color, 30%)
);