$primary-color: #0052cc;
$secondary-color: #dae2eb;
$warning-color: #f9a700;
$danger-color: #de3207;
$success-color: #2ecc40;

$border-radius: 3px;
$border-color: #9fa5af;

$line-height: 2.28571em;
$line-height-sm: 1.6em; 
$line-height-lg: 2.97142em;

$text-color: rgba(0, 0, 0, .7);