@import "../../../common/style/variables.scss";
@import "../../../common/style/mixins.scss";


.e-input {
  @include flex-inline();
  @include add-base-border();

  min-height: 32px;
  height: auto;
  color: $input-text-color;
  background-color: $input-bg-color;
  padding: 3px 10px;
  margin: 0;
  text-indent: 0;
  width: 100%;
  box-sizing: border-box;
  transition: all 0.1s ease-out 0s;
  outline: none;
  text-overflow: ellipsis;
  overflow: visible;
  -webkit-appearance: none;
  -moz-appearance: textfield;

  &::placeholder {
    color: #a7b1bb;
  }

  &[disabled] {
    background: $base-color;
  }

  &:hover {
    border-color: $input-border-hover-color;
  }

  &:focus {
    border-color: $input-border-focus-color;
    box-shadow: none;
  }

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  &[type=number] {
    -moz-appearance: textfield;
  }
}