@import "../../../common/style/variables.scss";
@import "../../../common/style/mixins.scss";

.eyzy-input {
  @include flex-inline();
  @include add-base-border();
  @include add-base-height();

  color: $base-text-color;
  background-color: #fff;
  padding: 0 10px;
  outline: none;
  border: 1px solid $base-color;
  box-sizing: border-box;
  transition: all 0.1s ease-out 0s;

  &[disabled] {
    background: $base-color;
  }

  &:focus {
    border-color: darken($base-color, 8.5);
    box-shadow: none;
  }

  &:hover {
    border-color: darken($base-color, 5.4)
  }

  &-primary {
    border-color: $primary-color;

    &:focus {
      border-color: darken($primary-color, 15%);
    }

    &:hover {
      border-color: darken($primary-color, 10%)
    }
  }
  
  &-danger {
    border-color: $danger-color;
    
    &:focus {
      border-color: darken($danger-color, 15%);
    }

    &:hover {
      border-color: darken($danger-color, 10%)
    }
  }

  &-warning {
    border-color: $warning-color;
    
    &:focus {
      border-color: darken($warning-color, 15%);
    }

    &:hover {
      border-color: darken($warning-color, 10%)
    }
  }
  
  &-success {
    border-color: $success-color;
    
    &:focus {
      border-color: darken($success-color, 15%);
    }

    &:hover {
      border-color: darken($success-color, 10%)
    }
  }

  &-sm {
    line-height: $line-height-sm;
  }

  &-lg {
    line-height: $line-height-lg;
  }

  &-fit {
    display: block;
    width: 100%;
  }

  &-extended {
    border-radius: 20px;
  }

  &-rect {
    border-radius: 0;
  }
}