@import "../../../common/style/variables.scss";
@import "../../../common/style/mixins.scss";

.e-textarea {
  @include flex-inline();
  @include add-base-border();

  resize: vertical;
  height: auto;
  min-height: 56px;
  overflow: auto;
  color: $input-text-color;
  background-color: $input-bg-color;
  padding: 3px 10px;
  margin: 0;
  text-indent: 0;
  width: 100%;
  box-sizing: border-box;
  transition: border 0.1s ease-out 0s;
  outline: none;
  text-overflow: ellipsis;
  -webkit-appearance: none;
  -moz-appearance: textfield;

  &.auto-height {
    overflow: hidden;
    resize: none;
  }

  &::placeholder {
    color: #a7b1bb;
  }

  &[disabled] {
    background: $base-color;
  }

  &:hover {
    border-color: $input-border-hover-color;
  }

  &:focus {
    border-color: $input-border-focus-color;
    box-shadow: none;
  }
}